:root {
    --primary: cornflowerblue;
    --dark: #171717;
    --light: #f3f3f3;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: var(--light);
    font-family: sans-serif;
    overflow: hidden;
}

canvas {
    cursor: crosshair;
}

main {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    padding: .5rem;
    background: var(--dark);
    display: flex;
    flex-direction: column;
}

main section, main button.clear {
    display: block;
    margin: 1rem auto;
    width: 2rem;
    height: 2rem;
}

main .colors {
    background: var(--dark);
    border: 1px solid var(--light);
    position: relative;
}

main .colors .color-picker {
    display: none;
    width: 4rem;
    height: 2rem;
    padding: 0 2rem;
    position: absolute;
    top: 50%;
    left: 2rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

main .colors .color-picker:focus {
    display: block;
}

main .colors:hover .color-picker {
    display: block;
}

main .thickness {
    position: relative;
    background-color: var(--light);
}

main .thickness::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background: var(--dark);
}

main .thickness .stroke-weight {
    display: none;
    position: absolute;
    width: auto;
    height: 2rem;
    padding: 0 1rem;
    left: 2rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

main .thickness .stroke-weight:focus {
    display: block;
}

main .thickness:hover .stroke-weight {
    display: block;
}

main .clear {
    display: block;
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
    color: var(--dark);
    font-size: 2rem;
    line-height: 2rem;
    background-color: var(--primary);
    border: none;
    outline: none;
    cursor: pointer;
}

abbr[title] {
    text-decoration: none;
  }

@media screen and (max-width: 768px) {
    html {
        font-size: 10px;
    }
    main {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: auto;
        padding: .5rem;
        background: var(--dark);
        flex-direction: row;
    }
}